services:

  redis:
    image: redis:8
    ports:
      - 6379:6379
    volumes:
      - redis_data:/data
    command: redis-server --appendonly yes

  etcd:
    image: quay.io/coreos/etcd:v3.6.7
    ports:
      - 2379:2379
    volumes:
      - etcd_data:/data
    environment:
      - ALLOW_NONE_AUTHENTICATION=yes
      - ETCD_ADVERTISE_CLIENT_URLS=http://0.0.0.0:2379
      - ETCD_LISTEN_CLIENT_URLS=http://0.0.0.0:2379

  minio:
    image: minio/minio:latest
    ports:
      - 9000:9000
      - 9001:9001
    volumes:
      - minio_data:/data
    command: server /data --console-address ":9001"
    environment:
      - MINIO_ROOT_USER=aether
      - MINIO_ROOT_PASSWORD=Aether123

volumes:
  redis_data:
  etcd_data:
  minio_data:
